@{
    ViewData["Title"] = "Delete Task";
}

@model bretheren

<br />
<h1>Confirm Deletion</h1>
<br />
<h3>Are you sure you want to delete the record for @Model.Task?</h3>
<br />

<form method="post" asp-action="Delete">
    <button class="btn btn-outline-secondary mr-3" type="submit">Delete</button>
    <a asp-controller="Home" asp-action="Quadrant" class="btn btn-outline-secondary mr-3">Cancel</a>

    <input type="hidden" asp-for="TaskID" />
</form>