@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the to-do-list prioritizer</h1>
    <br />
    <h3>
        Inspired by Stephen Covey's book <i>The 7 Habits of Highly Effective People</i>, use this tool to be proactive and
        accomplish your most important goals.

    </h3>

</div>
